@import "~antd/dist/antd.min.css";

h1 {
	font-weight: normal;
	font-size: 20px;
}

.logo_header {
	text-align: center;
	padding: 20px;
}

.events_header {
	margin-bottom: 15px;
}

.btn_logout {
	float: right;
}

.login_container {
	text-align: center;

	.login_input {
		max-width: 200px;
		margin: 2px 0;
	}

	.btn_login {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.btn_signup {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.switch_login:hover {
		cursor: pointer;
		color: black;
	}
}

.event_container {
	.event_card {
		margin: 10px 0;
	}
}

.new_event_container {
	margin-bottom: 20px;
	.new_event_title {
		border: none;
		outline: 0px;
  	-webkit-appearance:none;
		height: 100%;
		color: rgba(0,0,0,.85);
    font-weight: 500;
		font-size: 14px;
	}
	.new_event_content {
		border: none;
		outline: 0px;
  	-webkit-appearance:none;
  	overflow: hidden;
	}
	.new_event_save {
		margin-top: 10px;
	}
}